.inventory {
  height: 80vh;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inventory p {
  color: #2a414f;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 1rem;
}

@media screen and (max-width: 540px) {
  .inventory p {
    font-size: 2.5rem;
  }
}
