.product {
  border: 2px solid #c7c6c6;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 4px 12px rgb(201, 199, 199);
  color: #0e161a;
  overflow: hidden;
}

.product img {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.card-header *,
.card-body * {
  padding: 0 0.5rem;
}

.product h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-body button {
  width: 100%;
  background-color: #ffe0b3;
  border: none;
  border-top: 2px solid #c7c6c6;
  outline: none;
  padding: 0.7rem;
  margin-top: 4px;
  font-weight: 500;
}

.card-body button:hover {
  color: #fff;
  background-color: #ff9900;
  cursor: pointer;
}
